[user]
	email = karanrajmehta06@gmail.com
	name = Karanraj Mehta
	signingkey = /Users/karanraj/.ssh/id_ed25519
[gpg]
	format = ssh
[commit]
	gpgsign = true
[alias]
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate --date=short
